.idea
main/cosoco
main/cosoco.*



# instances
*.xml
# ... but the instance the workflows solve to check a binary is one
!.github/smoke.xml

#cmake
cmake_install.cmake
cmake-build-debug
CMakeFiles
CMakeCache.txt
/Makefile

#
lib

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# misc
*.log

# python packaging
python/cosoco_bin/cosoco
python/build/
python/dist/
python/*.egg-info/
