.idea
main/cosoco
main/cosoco.*

# the clangd cache
.cache
# the build folder
build
# the default cmake makefile
Makefile

.vscode
Testing



# instances
*.xml

#cmake
cmake_install.cmake
cmake-build-debug
CMakeFiles
CMakeCache.txt
cosoco-test*_include.cmake
CTestTestfile.cmake

#
lib

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# misc
*.log

